
//FONT
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

    $fontPrincipal: 'Montserrat', sans-serif;


    //Tamaños
    $textS: 0.9em;
    $textM: 1em;
    $textL: 1.7em;
    $textXl:2.2em;



    //Peso
    $pesoS: 300;
    $pesoM: 400;
    $pesoL: 500;
    $pesoXl: 600;


    //Text Decoration
    $decorationNone: none;
    $decorationSubrayado: underline;
    $decorationSobrerayado: overline;
//



//COLORES
    $blanco: white;
    $negro: black;
    $dorado: wheat;
    $gris: rgb(92, 92, 92);


    //Background
    $bgNav: rgba(0, 0, 0, 0.5);
    $bgClaro: rgba(225, 225, 225, 0.9);
    $bgDorado: rgb(142, 132, 114);
//
